/* Larger Screens */
@media (min-width: 768px) {
    .temple-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    main {
        max-width: 70%;
    }
}

@media (min-width: 1024px) {
    header nav ul {
        gap: 2rem;
    }
}
